<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{{name}}</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
  </head>
  <body>
    <section class='section'>
      <div class='container'>
        {{#if is_public}}
          <section class='hero is-link'>
            <div class='hero-body'>
              <figure class='image is-128x128'>
                <img src={{profile_picture_url}} />
              </figure>
              <p class='title'>
                {{name}}
              </p>
              <p class='subtitle'>
                {{email}}
              </p>
              <div class='content'>
                <p class='tag is-black'>Age: {{age}}</p>

                <p class='is-size-6'>
                  {{introduction}}
                </p>
              </div>

              <div class='content is-normal'>
                <h4 class='tag is-black'>Work Experience</h4>
                {{#each work_experience}}
                  {{#if is_public}}
                    <div class=''>
                      <figure class='image is-64x64'>
                        <img src={{company_logo_url}} />
                      </figure>
                      <h1>
                        {{company}}
                      </h1>
                    </div>

                    <h3>
                      {{job_title}}
                    </h3>
                    <p>
                      {{job_description}}
                    </p>
                    <p>
                      <strong>FROM: </strong>
                      {{start_date}}
                    </p>
                    {{#if is_current}}
                      <p>
                        <strong>TO: </strong>
                        Currently Working here.
                      </p>
                    {{else}}
                      <p>
                        <strong>TO: </strong>
                        {{end_date}}
                      </p>
                    {{/if}}
                  {{/if}}
                {{/each}}
              </div>
            </div>
          </section>
        {{else}}
          <article class='message is-info'>
            <div class='message-header'>
              <p>Info</p>
            </div>
            <div class='message-body'>
              Sorry Profile owner has not made this profile public yet.
            </div>
          </article>
        {{/if}}
      </div>
    </section>
  </body>
</html>